.container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.customer-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.customer-list a {
    text-decoration: none;
    color: black;
}

.customer-list li {
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: space-between;
}

h2 span:nth-child(2) {
    font-weight: normal;
    font-size: small;
}

h4 {
    margin-bottom: 0.5rem;
}

.customer {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.customer:hover {
    background-color: lightblue;
    transform: scale(1.05);
}